<section>
 
  <div class="container d-flex justify-content-center mt-5">

    <div style="background-color: rgb(243, 243, 241);" class="col-7 col-md-5 mb-3 p-3 rounded-4">
      <div class="d-flex justify-content-center mb-3">
        <h5>
          Add A Product
        </h5>
      </div>
      <div class="mb-4"> 
      <a style="color: black;"  href="/admin/viewproducts">
        <i style="color: black;" class="fa fa-arrow-left" aria-hidden="true"></i> go back
      </a>
      </div>
      <form action="/admin/addproduct" method="post" enctype="multipart/form-data" novalidate>

        {{#if ProErr}}
        <p style="color:red ;">{{ProErr}}</p>
        {{/if}}
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input name="Pname" type="text" id="proName" class="form-control" onkeyup="checkProName()" />
          <label class="form-label" for="proName">Product name</label>
          <span id="proNameErr" class="text-danger"></span>
        </div>

        <!-- description input -->
        <div class="form-outline mb-4">
          <input name="Description" type="text" id="description" class="form-control" onkeyup="checkDescription()" />
          <label class="form-label" for="description">Description</label>
          <span id="descErr" class="text-danger"></span>
        </div>
        <div class="mb-4">
          <div class="form-floating">
            <select name="Category" class="form-select" id="floatingSelect" aria-label="Floating label select example">
              {{#each categories}}
              <option value="{{Cname}}">{{Cname}}</option>
              {{/each}}
            </select>
            <label for="floatingSelect">click here to change category</label>

          </div>
          <label class="form-label">Category</label>
        </div>
        <div class="row">
          <div class="form-outline mb-4 col-6">
            <input onkeyup="checkPrice()" name="Price" type="text" id="price" class="form-control" />
            <label class="form-label" for="form5Example2">Price</label>
            <span id="priceErr" class="text-danger"></span>
          </div>

          <div class="form-outline mb-4 col-6">
            <input name="Discount" type="text" id="discount" class="form-control" onkeyup="checkDiscount()" />
            <label class="form-label" for="form5Example2">Discount</label>
            <span id="discountErr" class="text-danger"></span>
          </div>
        </div>

        <div class="form-outline mb-4">
          <input name="images" type="file" multiple class="form-control" />
          <label class="form-label" for="form5Example2">select image</label>
        </div>

        <!-- Submit button -->
        <div style="flex-direction: column;" class="d-flex justify-content-center ">
          <p id="submitErr" class="d-block text-center text-danger"></p>
          <button onclick="return submitCheck()" type="submit" class="btn btn-primary d-block mb-4">Add product</button>
        </div>
      </form>
    </div>
  </div>
</section>