
<div class="container d-flex justify-content-center mt-5 " style="height: 100%;">
  <div  style="background-color: rgb(242, 242, 242); height: max-content;" class="col-10 col-sm-6 col-md-5 col-lg-4 rounded-4 p-3 shadow ">
    <div class="text-center mb-3">
    <h3>OTP Login</h3>
    </div>
    <form method="post" action="/otplogin">
     {{#if logErr}}
        <p style="color:red ;">{{logErr}}</p>
      {{/if}}

      <!-- phone number input -->
      <div class="form-outline mb-4">
        <input
          name="Pnumber"
          type="text"
          id="form2Example1"
          class="form-control"
        />
        <label class="form-label" for="form2Example1">Enter your phone number</label>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="rounded-pill btn btn-outline-secondary btn-block mb-4 w-100"
      >Send OTP</button>

      <!-- Resend buttons -->
      <div class="">
        <p> <a href="/login">Go back</a></p>

      </div>
    </form>
  </div>

</div>