<h2>
    quickView
</h2>
<link rel="stylesheet" href="userCss/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="userCss/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="userCss/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="userCss/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="userCss/nice-select.css" type="text/css">
<link rel="stylesheet" href="userCss/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="userCss/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="userCss/style.css" type="text/css">


<!-- Js Plugins -->
    <script src="userJs/jquery-3.3.1.min.js"></script>
    <script src="userJs/bootstrap.min.js"></script>
    <script src="userJs/jquery.nice-select.min.js"></script>
    <script src="userJs/jquery.nicescroll.min.js"></script>
    <script src="userJs/jquery.magnific-popup.min.js"></script>
    <script src="userJs/jquery.countdown.min.js"></script>
    <script src="userJs/jquery.slicknav.js"></script>
    <script src="userJs/mixitup.min.js"></script>
    <script src="userJs/owl.carousel.min.js"></script>
    <script src="userJs/main.js"></script>